.widgetSmallContainer {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-right: 20px;

  .widgetSmallTitle {
    font-size: 22px;
    font-weight: 600;
  }

  .widgetSmallList {
    margin: 0;
    padding: 0;
    list-style: none;
    li.widgetSmallListItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0px;
      .widgetSmallImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .widgetSmallUser {
        display: flex;
        flex-direction: column;
        .widgetSmallUserName {
          font-weight: 600;
        }
        .widgetSmallUserTitle {
          font-weight: 300;
        }
      }
      .widgetSmallButton {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        padding: 7px 5px;
        background-color: #eeeef7;
        color: #555;
        cursor: pointer;
        .widgetSmallIcon {
          font-size: 16px !important;
          margin-right: 5px;
        }
      }
    }
  }
}
